<script type="text/template" id="GameStatusView-template">
	<div class="game-info left">
		<div class="avatar">
			<img src="/img/dialogues/{{dialogue.icon}}">
		</div>
		<span class="text">{{dialogue.topic}}</span>
	</div>
	<div class="game-info right game-status">
		<div class="avatar">
			<img src="/img/profiles/{{player_a.icon}}"/>
		</div>
		<div class="avatar">
			<img src="/img/profiles/{{player_b.icon}}"/>
		</div>
		<span class="text">{{score}} x</span>
		<i class="icon-star icon-yellow game-score"></i>
	</div>
</script>