extends layout

block content
  div.row
    div.span6
      h1 Development column 1
      #gaming
    div.span6
      h1 Development column 2
      .audio-player
      .audio-recorder

block scripts
  script(src='/js/dev.js')
