extends layout

block content
  div.row
    div.span6
      h1 Development column 1
      h4 QuestionListView
      .sentance-list
      h4 Game List
      .toolbar
        h2 Games
      .game-list.game-list-container.with-toolbar
      h4 Game List Item
      .game-list-item
    div.span6
      h1 Development column 2
      h4 Audio Player
      .audio-player
      h4 Audio Recorder
      .audio-recorder

block scripts
  script(src='/js/dev.js')
