extends dev_layout

block content
  div.row
    div.span6
      h1 Development column 1
      #testing
      h4 Game List
      .toolbar
        h2 Games
      .game-list
      h4 Game List Item
      .game-list-item
    div.span6
      h1 Development column 2
      h4 Audio Player
      .audio-player
      h4 Audio Recorder
      .audio-recorder
      h4 QuestionListView
      .question-list
      h4 QuestionView
      .question
  #wami