extends layout

block content
  h1 App
  .toolbar
    .btn-group
      a(href="/#/", class='btn')
        i.icon-home
        | Home
  #game
  #wami

block scripts
  script(src='/chat-game-ui/chat-game-ui.js')
