include mixins

!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/prettify.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block content
    mixin liveReload
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/prettify.js')
    script(src='/js/app.js')

