include mixins/mixins

!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/prettify.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block navigation
    block content
     
    mixin liveReload
    script(src='/chat-game-ui/jquery/jquery-min.js')
    script(src='/chat-game-ui/bootstrap/bootstrap-min.js')
    script(src='/chat-game-ui/underscore/underscore-min.js')
    script(src='/chat-game-ui/handlebars/handlebars-min.js')
    script(src='/chat-game-ui/backbone/backbone.js')
    script(src='/chat-game-ui/swfobject/swfobject.js')
    script(src='/chat-game-ui/wami-recorder/recorder.js')
    block scripts

    include templates/game.jade