include mixins

!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/prettify.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    mixin navigation()

    block content
    #wami
 
    mixin liveReload
    script(src='/js/lib/jquery/jquery-min.js')
    script(src='/js/lib/bootstrap/bootstrap-min.js')
    script(src='/js/lib/prettify/prettify-min.js')
    script(src='/js/lib/underscore/underscore-min.js')
    script(src='/js/lib/handlebars/handlebars-min.js')
    script(src='/js/lib/backbone/backbone-min.js')
    script(src='/js/lib/swfobject/swfobject.js')
    script(src='/js/lib/wami-recorder/recorder.js')
    block scripts
    script(src='/js/chat-game.js')

    
    include templates/game.jade