extends layout

block content
  h1 Welcome to index
  div
    a(href="/#/", class='btn btn-primary') #/
    a(href="/#/game/1", class='btn btn-primary') #/game/1
  #game.row
    .span6
      form(class='well form-horizontal', method='POST', enctype="multipart/form-data", action="/game/recording/1337")
        fileset
          legend A dev/debug upload form to test file uploads
          label(class='control-label', for='file') File to upload
          .controls
            input(type='file', name='recording', class='')
            p(class='help-block') Select a file to upload to server
          .form-actions
            input(type='submit', class='btn btn-primary')
    .span6
    
  block scripts
    script(src='/js/lib/wami-recorder/gui.js')
