include game/notplaying/GameListItemView-template.html
include game/notplaying/GameListView-template.html
include game/playing/GameActionView.html
include game/playing/GameStatusView.html
include game/playing/speaker/PlayingChooseWhatToSay.html
include game/playing/speaker/RecordTranslation.html
include game/playing/speaker/PlayingNextTurnView.html
include game/playing/listener/ChooseRightAnswerView-template.html
include game/playing/listener/AnswerView-template.html
include game/common/SimpleAudioPlayerView-template.html
include game/common/SimpleAudioRecorderView-template.html
